extends admin_layout

block content

  br
  br
  br

  table.bordered.black.orange-text.center-align
    thead
      tr
        th Locker
        th Status
        th Student Number
        th Name
        th Email
        th Contact Number
        
    tbody
      each locker, i in cluster
          tr
            td= locker.lockerNumber
            td= locker.status
            td= locker.studentNo
            td= locker.owner
            td= locker.email
            td= locker.contact_number
            if(locker.status == "Reserved")
              td
                a.waves-effect.waves-light.btn-flat.green.black-text(href='/admin/payment/' + locker._id + '/cluster/' + locker.cluster)
                  | Paid
                &nbsp;
                a.waves-effect.waves-light.btn-flat.red.white-text(href='/admin/delete/' + locker._id + '/cluster/' + locker.cluster)
                  | Make this locker available
            else
              if(locker.status == "Available")
                td
              else
                td
                  a.waves-effect.waves-light.btn-flat.red.white-text(href='/admin/delete/' + locker._id + '/cluster/' + locker.cluster)
                    | Make this locker available