extends layout

block content
  form(method='post', action='/locker/createLocker')
    button(type='submit') Create

  br
  h3.center.white-text Choose your desire locker
  br
  .row.black.center
    .col.s12.m4.l4.white-text
      h4.center.white-text-text Cluster A
      br
      .row
        each locker, i in clusterA
          .col.s4.m4.l4
            if (locker.status == 'Available')
              a.waves-effect.waves-white.btn-flat.orange.black-text.btn-large(href='/locker/' + locker._id + '/reserve')
                | #{locker.cluster}#{locker.lockerNumber}
            else
              a.waves-effect.waves-white.btn-flat.orange.black-text.btn-large.disabled(href='/locker/' + locker._id + '/reserve')
                | #{locker.cluster}#{locker.lockerNumber}

    .col.s12.m4.l4
      h4.center.white-text Cluster B
      br
      .row
        each locker, i in clusterB
          .col.s4.m4.l4
            if (locker.status == 'Available')
              a.waves-effect.waves-white.btn-flat.orange.black-text.btn-large(href='/locker/' + locker._id + '/reserve')
                | #{locker.cluster}#{locker.lockerNumber}
            else
              a.waves-effect.waves-white.btn-flat.orange.black-text.btn-large.disabled(href='/locker/' + locker._id + '/reserve')
                | #{locker.cluster}#{locker.lockerNumber}


    .col.s12.m4.l4
      h4.center.white-text Cluster C
      br
      .row
        each locker, i in clusterC
          .col.s4.m4.l4
            if (locker.status == 'Available')
              a.waves-effect.waves-white.btn-flat.orange.black-text.btn-large(href='/locker/' + locker._id + '/reserve')
                | #{locker.cluster}#{locker.lockerNumber}
            else
              a.waves-effect.waves-white.btn-flat.orange.black-text.btn-large.disabled(href='/locker/' + locker._id + '/reserve')
                | #{locker.cluster}#{locker.lockerNumber}