extends layout

block content
  br
  br
  .container.rown.col-4.col-m-9
      h4.white-text.center-align PROFILE
      form
        .rows.white-text
          p
          br
          b.red-text
            | Student Number: 
          |   &nbsp;#{user.studentNo}
          br
          br
          b.red-text
            | Full Name: 
          |   &nbsp;#{user.name}
          br
          br
          b.red-text
            | Year & Section: 
          |   #{user.yearAndSection}
          br
          br
          b.red-text
            | Contact Number: 
          |   &nbsp;#{user.contact_number}
          br
          br
          b.red-text
            | Email: 
          |   &nbsp;#{user.email}
          br
          br
          b.red-text
            | Reserved Locker:
          br
          br
         
        .row.center
            button.orange.btn.waves-effect.waves-light(type='submit', name='action')
              | EDIT PROFILE
              i.fa.fa-pencil.small.left
             
           