extends layout

block content
  br
  br
  .container.rown.col-4.col-m-9
      h4.white-text.center-align PROFILE
      form
        .rows.white-text
          p
          br
          b.red-text
            | Student Number: 
          |   &nbsp;#{user.studentNo}
          br
          br
          b.red-text
            | Full Name: 
          |   &nbsp;#{user.name}
          br
          br
          b.red-text
            | Year & Section: 
          |   #{user.yearAndSection}
          br
          br
          b.red-text
            | Contact Number: 
          |   &nbsp;#{user.contact_number}
          br
          br
          b.red-text
            | Email: 
          |   &nbsp;#{user.email}
          br
          br
          b.red-text
            | Reserved Locker:
          br
          if(lockers.length != 0)
            table.bordered
              thead
                tr
                  th Cluster
                  th Locker
                  th Status
              tbody
                each locker, i in lockers
                  tr
                    td= locker.cluster
                    td #{locker.cluster}#{locker.lockerNumber}
                    td= locker.status
          else
            h6.center No Lockers Reserved / Paid
          br
         
        .row.center
            .col.s12.m12.l12
              a.waves-effect.waves-light.btn-flat.orange.black-text(href= '/userprofile/' + user._id + '/edit-profile')
                i.fa.fa-pencil.small.left
                | Edit profile
             
           